a {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:active {
    color: #000;
}

a:hover {
    color: #000;
}

* {
    max-width: 65em;
    margin: 0 auto;
    padding: 0;
}

body,
main {
    margin: 0 auto;
    color: #ffffff;
    background-color: #778899;
}

header,
footer {
    display: block;
    position: relative;
    border: solid 3px padding: 1em;
    margin: 2em auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

header img {
    width: 15px;
    float: left;
}

header nav ul {
    margin: auto;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

header nav ul li {
    display: inline-block;
    padding: 0.5em 0.5em;
}

nav>div>ul>li>a {
    display: block;
    text-decoration: none;
}

.nav-left {
    float: left;
}

.nav-left ul li {
    float: left;
}

.nav-right ul li {
    float: right;
}

section {
    padding: 1em;
    margin: 0 auto;
    background-color: darkslategray;
    max-width: 50em;
    border-radius: 10px 100px / 120px;
    border: 2em solid #778899;
}

.box1 {}

.box1 img {
    padding-right: 2em;
    width: 25%;
    float: right;
}

.box2 p {
    text-align: left;
    padding: 1em;
}

.box3 {
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.box3 ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0.5em 0.5em;
    text-align: center;
}

.box3 ul li a {
    display: block;
    text-decoration: none;
}

.box3 img {
    width: 200px;
    padding: 2em;
}

.box3 img:hover {
    opacity: 50%;
    width: 250px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0.5em 0.5em;
}

footer>ul>li>a {
    display: block;
    text-decoration: none;
}